.navBar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.n{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 900;
}