.cardInfo {
    width: 35vw;
    height: 154px;
    border: none;
    box-shadow: 0px 10px 15px 0px rgba(219, 219, 219, 0.3);
    border-radius: 25px;
    position: relative;
    margin: auto;
    font-family: 'Helvetica';
    display: flex;
  }
  
  .cardInfo span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
  }
  
  .cardInfo .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 1em;
  }
  
  .cardInfo .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: auto;
  }

  .cardInfo .other{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }