.dash {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 5 columnas */
    gap: 10px; /* Espacio entre los elementos */
  }
  
  @media (max-width: 1200px) {
    .dash {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    }
  }
  
  @media (max-width: 900px) {
    .dash {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
  }
  
  @media (max-width: 600px) {
    .dash {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
  }
  
  @media (max-width: 400px) {
    .dash {
      grid-template-columns: 1fr; /* 1 columna */
    }
  }
  
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1%;
    width: 100%;
}